.footer{
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.list{
    display: flex;
    list-style-type: none;
    justify-content: center;

}

.item{
    margin: 0 1em;
}

.item svg{
    font-size: 1.5em;
    cursor: pointer;
}

.item:hover{
    color: #ffbb33;

}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}